.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-section {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-section.routes {
  min-height: 10vh;
  font-size: calc(10px + 2vmin);
}

.App-section.header {
  min-height: 45vh;
  font-size: calc(5px + 2vmin);
}

.App-section.body {
  min-height: 15vh;
  font-size: calc(10px + 1vmin);
}

.App-section.github {
  min-height: 15vh;
  font-size: calc(5px + 1vmin);
}

.App-section.footer {
  min-height: 7vh;
  font-size: calc(6px + 1vmin);
}
